.nav-bar{

    -fx-background-color:  linear-gradient(to top, #23272b , #2f3539);
}
.filter-button{
    -fx-background-color :  #23272b;
    -fx-text-fill: white;
       -fx-cursor:hand;
}
.filter-button:hover{
    -fx-background-color:white;
        -fx-text-fill: black;
}